/* googel font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Raleway:ital,wght@0,400;0,500;1,300&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    box-sizing: border-box;
}

.nav-link:hover{
    border-bottom: 1px solid tomato;
    border-left: 10px;
    padding:0;
    transition:0.4s;
}

/*banner style start*/
#banner{
    height:100vh;
    margin-top: 80px; 
   
}


/*------banner style end------*/

/*===============
skills section style start here
==============================*/
#skills h2{
    text-align: center;
    margin-bottom: 20px;

}

.skill{
    width:250px;
    padding:10px;
    margin: 20px 15px;
    box-shadow: 3px 3px 5px #dddd;;
    
}
.skill img{
    width:35%;
    margin-right:10px;
}
/*===============  
skills section style end here
==============================*/

/*project section style start here*/
#projects{
    margin-top:30px;
    margin-bottom:80px;
    text-align: center;
}
.project{
    width:500px;
    display:flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 5px #dddd;
    transition:0.3s;
    
   
}

.project-title{
    width:50%;
    text-align: center;

    
    
}

.project-img{
    width:50%;
}

.project-img img{
    width:100%;

    
}

/*project section style end*/


/*about section style start here*/
#about{
    max-width: 1200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
   margin:auto;
}
.about-description{
    width:500px;
}
.about-image{
    width:500px;
    text-align:center;
}
.about-image img{
    width:300px;
    border-radius: 300px;
    
}
/*about section style end here*/



/*message section style start here*/
#message{
    width:100%;
    justify-content: center;
    
   
}
.message-box{
    width:400px;
    margin-left:480px;
  
}
.message-input p{
    margin-bottom: 5px;
}
.message-input input {
    width: 330px;
    height: 45px;
    border-radius: 3px;
    background-color: white;
    margin-bottom: 25px;
}

.message-input textarea{
    background-color: white;
}
.submit-button {
    text-align: end;
    margin-right: 70px;
    margin-top: 10px;
}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

/*social linke style*/
#social{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.social-box{
    width:300px;
    display:flex;
    justify-content: center;
    
}
.social.icon {
    width: 25px;
    margin-right: 25px;   
}

.social.icon img {
    width: 100%;
}




footer{
    background-color: black;
    height:30px;
    text-align: center;

}
footer span{
    background-color: black;
    color:white;
}

