/* googel font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Raleway:ital,wght@0,400;0,500;1,300&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

.nav-link:hover{
    border-bottom: 1px solid tomato;
    border-left: 10px;
    padding:0;
    transition:0.4s;
}

/*banner style start*/
#banner{
    width:100%;
    height:500px;
    margin-top: 100px;
    padding:25px;
    display:flex;
    justify-content: space-around;
    
    
   
}


/*------banner style end------*/

/*===============
skills section style start here
==============================*/
#skills h2{
    text-align: center;
    padding:25px;

}

.skill{
    width:250px;
    border:1px solid tomato;
    padding:10px;
    margin: 20px 15px;
    
}
.skill img{
    width:35%;
    margin-right:10px;
}
/*===============
skills section style end here
==============================*/

/*project section style start here*/
/* #porjects{
    margin-top:30px;
    text-align: center;
}
.project{
    display:flex;
    padding:20px 20px;
    justify-content: space-between;
   
}
.project img{
    width:100%;
   height:100%;
} */

/*project section style end*/

